## strings
- creating 
- indexing and slicing
- methods
- tips and tricks

In [3]:
a="apple"
b='apple'
c='''This is useful in 
multiline messages'''
print(a,b,c)
d=str(1234)
print(d)

apple apple This is useful in
multiline messages
1234

In [10]:
# Types of strings
# 1) f-string
x=f'{a} is a fruit'
print(x)
# 2) raw string
address= r'c:\users\isha\desktop'
print(address)
# 3) unicode string
uni=u'hello'
print(uni)
# 4) byte string
byt=b'hello'
print(byt)

apple is a fruit
c:\users\isha\desktop
hello
b'hello'

In [16]:
v='encyclopedia'
print(v[0]) #indexing from first
print(v[1])
print(v[2])
print(v[6])
print(v[11])
print(v[-1]) #indexing from last
print("third last ",v[-3])

e
n
c
o
a
a
third last  d

## Slicing in Python
x [start : stop]

In [41]:
msg="Once upon a time, there lived a boy named Joy. That boy was naughty!"
msg[:16]

'Once upon a time'

In [11]:
amt="$800999"
amt=int(amt[1:])
print(amt)

800999

In [12]:
msg[::-1] #reverse

'yoJ deman yob a devil ereht ,emit a nopu ecnO'

In [13]:
msg[::-1][:5] #first reverse and then picks 5 characters from the reverse

'yoJ d'

In [19]:
name="Vijay Deenanath Chauhan"
name[6:15][::-1] #reverse the word Deenanath
firstname=name[0:6]
print(firstname)
middlename=name[6:15]
print(middlename)
lastname=name[-7:]
print(lastname)

Vijay
Deenanath
Chauhan

### String Methods

In [ ]:
a=100 #int, so will have different methods
b="100" #str, so will have different methods
# methods are accessed using . dot

String Methods
- formatting
- validation
- find and replace
- etc....

In [29]:
quote="All the glitter is not Gold ðŸ’›"
q_upper=quote.upper()
q_lower=quote.lower()
q_capitalize=quote.capitalize()
q_swapcase=quote.swapcase()
q_casefold=quote.casefold() # same as lower 
q_title=quote.title()
print(quote)
print(q_upper)
print(q_lower)
print(q_capitalize)
print(q_swapcase)
print(q_casefold)
print(q_title)

All the glitter is not Gold ðŸ’›
ALL THE GLITTER IS NOT GOLD ðŸ’›
all the glitter is not gold ðŸ’›
All the glitter is not gold ðŸ’›
aLL THE GLITTER IS NOT gOLD ðŸ’›
all the glitter is not gold ðŸ’›
All The Glitter Is Not Gold ðŸ’›

In [24]:
quote.rjust(50,'_')

'_____________________All the glitter is not Gold ðŸ’›'

In [28]:
fname=input("Enter your name: ")
if fname.isalpha():
    print("Valid name!")
else:
    print("Invalid name!")

Invalid name!

In [49]:
print(msg)
a=msg.find('Joy') #case sensitive, so will return -1 index if value not found!
b=msg.rfind('boy') #returns the index of the last string of the substring
c=msg.replace('boy','girl') #replaces the given word by another thing(word,num,emoji,etc...)
d=msg.replace('a','e').replace('i','l')# and so on... It is a replace chain!
e=msg.replace(' ','_',3)
print(a)
print(b)
print(c)
print(d)
print(e)

Once upon a time, there lived a boy named Joy. That boy was naughty!
42
52
Once upon a time, there lived a girl named Joy. That girl was naughty!
Once upon e tlme, there llved e boy nemed Joy. Thet boy wes neughty!
Once_upon_a_time, there lived a boy named Joy. That boy was naughty!

- split and join

In [2]:
fruits=input("Enter the names of fruits: ")
print(fruits)
print(len(fruits))
fruitlist=fruits.split()
print (fruitlist)

apple banana grapes
19
['apple', 'banana', 'grapes']

In [9]:
x= "hey, I am Isha Tiwari, a Python student!"
print(x)
y=x.split(",")
z=x.splitlines()
y
z

hey, I am Isha Tiwari, a Python student!

['hey, I am Isha Tiwari, a Python student!']

In [12]:
addr=['C:','users','desktop','file.txt']
'_'.join(addr)

'C:_users_desktop_file.txt'

In [16]:
data=input("enter your name,month,year separated by comma")
words=data.split(",")
print(words)
name="_".join(words)
print(f'img_{name}.jpg')

['isha', 'feb', '2006']
img_isha_feb_2006.jpg

In [21]:
quote="a small child is a naughty one"
n=quote.count("a")
print(n)

4

In [23]:
name=input("Enter your name: ")
if name.startswith("Mr"):
    print("Welcome sir!")
else:
    print("Invalid!")

Welcome sir!

In [25]:
file=input("Enter file name: ")
print(file)
if file.endswith(".csv"):
    print("dataset file!")
else:
    print("File is other than dataset file")

isha.csv
dataset file!

In [26]:
movie=input("Enter movie name: ")
clean=movie.strip() # strip is used to remove whitespace from starting and ending 
print(movie)
print(clean)
print(len(movie))
print(len(clean))

 batsman
batsman
8
7